<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile Page</title>

    <style>
        table,
        td {
            border: 1px solid black;
            padding: 4px;
        }
    </style>
</head>

<body>
    <%- include('common/header') %>                             //implement common file to load html file

        <h1>Welcome Mr. <%= user.name %>
        </h1>
        <h3>Email ID: <%= user.email %>
        </h3>
        <p>Working from <%= user.prof %>
        </p>

        <h3>My Skills :-</h3>
        <ul>                                                            //using forEach loop add skills And <% %> this is ejs barckets
            <% user.skills.forEach((item)=>{ %>
                <li>
                    <%= item %>
                </li>
                <% }) %>
        </ul>

        <!-- <table>
        <tbody>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.prof %></td>
            </tr>
        </tbody>
    </table> -->
</body>

</html>